.register {
    display: flex;
    justify-content: center;
    .register-card {
        border-radius: 8px;
        width: 500px;
        box-shadow: 0px 0px 10px rgba(0,0,0,0.1);
        padding: 20px;
        .input-field {
            padding: 17px 10px;
            width: 94%;
            border: 1px solid #dedede;
            border-radius: 6px;
        }
        button {
            @extend .my-btn;
            background-color: rgb(45, 167, 216);
        }
    }
}