.navbar {
    margin-bottom: 16px;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
    .navbar-menu {
        opacity: 60%;
        display: flex;
        justify-content: space-between;
        > ul {
            
            display: flex;
            align-items: center;
            li {

                list-style: none;
                margin-right: 30px;
                a {
                    text-decoration: none;
                    color: #292929;
                    text-transform: uppercase;
                }
            }
        }
        .auth {
        // cursor: not-allowed;

            display: flex;
            li {


                list-style: none;
                margin-right: 30px;
                a {
                    text-decoration: none;
                    color: #292929;
                }
            }
        }
    }
}